/.idea/
/out/production/Desktop/HelloWorld.class
/out/production/Desktop/OperatoryMatematyczne.class
/out/production/Desktop/TypyObiektowe.class
/out/production/Desktop/TypyProste.class
/out/production/Desktop/Zmienne.class
/out/